:root {
    --mainColor: #4bb131;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--mainColor);
    font-family: 'Segoe UI Regular';
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". logo ."
        ". signIn ."
    ;
}

.logo {
    grid-area: logo;
    align-items: end;
    margin-bottom: 50px;
}

.signIn {
    grid-area: signIn;
    align-self: center;
}

.signIn input {
position: relative;
left:14%;
text-align: center;
width: 70%;
height: 35px;
}

.signIn input:nth-child(even) {
    margin-top: 20px;
    margin-bottom: 25px;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.login-btn p {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    width: 50%;
}
.help{
text-align: center;
}
