:root {
    --mainColor: #4bb131;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--mainColor);
    font-family: 'Segoe UI Regular';
}

/*-------------------------------------------------- login page -----------------------------------------  */
.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". logo ."
        ". signIn ."
    ;
}

.logo {
    grid-area: logo;
    align-items: end;
    margin-bottom: 50px;
}

.signIn {
    grid-area: signIn;
    align-self: center;
}

.signIn input {
    position: relative;
    left: 14%;
    text-align: center;
    width: 70%;
    height: 35px;
}

.signIn input:nth-child(even) {
    margin-top: 20px;
    margin-bottom: 25px;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.login-btn p {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    width: 50%;
}

.help {
    text-align: center;
}

/*-------------------------------------------------- fill-out page  -----------------------------------------*/
.fill-container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". feed ."
        ". self ."
        ". milk ."
        ". cows ."
        ". diesel ."
        ". power ."
        ". trunIn ."
        ". logout ."
    ;
}

.feed {
    grid-area: feed;
}

.self {
    grid-area: self;
}

.milk {
    grid-area: milk;
}

.cows {
    grid-area: cows;
}

.diesel {
    grid-area: diesel;
}

.power {
    grid-area: power;
}

.trunIn {
    grid-area: trunIn;
}
.logout{
 grid-area:  logout;
 justify-self: center;
 background-color: white;
 color: black;
}
.fill-container {
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

.fill-container p {
    margin-bottom: 10px;
}

.fill-container input {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.cows input {
    margin-top: 28px;
}
.trunIn{
justify-self: center;
margin-top: 30px;
}
.trunIn p{
color: black;
background-color: white;
text-align: center;
padding-left: 40px;
padding-right: 40px;
border-radius: 20px;
font-size: 25px;
padding-bottom: 2px;
}
/*-------------------------------------- end ------------------------------------------------ */
.end-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    ". thanks ."
    ". thanksImg ."
    ". seeMore ."
    ". seeMore-btn ."
    ;
    color: white;
}
.thanks{
grid-area: thanks;
text-align: center;
font-size: 30px;
margin-top: 12px;
}
.thanksImg{
grid-area: thanksImg;
justify-self: center;
align-self: center;
}
.seeMore{
grid-area: seeMore;
font-size: 25px;
}
.seeMore-btn{
    grid-area: seeMore-btn;
    justify-self: center;
    font-size: 25px;
    }
    .seeMore-btn p{
        color: black;
        background-color: white;
        text-align: center;
        padding-left: 38px;
        padding-right: 38px;
        border-radius: 20px;
        font-size: 25px;;
        margin-top: 12px;
        padding-bottom: 2px;
    }
.thanksImg img{
width: 200px;
height: 200px;
}
/*---------------------------------------------------- graf --------------------------------------*/
.graf-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". co2-diesel ."
    ". co2-power ."
    ". methane-cows ."
    ". co2-feed ."
    ". score ."
    ;
    color: white;
    font-size: 20px;
}
.co2-diesel{
grid-area: co2-diesel;
margin-top: 12px;
}
.co2-power{
grid-area: co2-power;
}
.methane-cows{
grid-area: methane-cows;
}
.co2-feed{
grid-area: co2-feed;
margin-bottom: 30px;
}
.score-btn{
grid-area: score;
}
.graf-container p{
margin-bottom: 12px;
margin-top: 12px;
}
.graf{
width: 300px;
height: 300px;
background-color: white;
}
/* -------------------------------------- leaderbord --------------------------------------- */
.bord-container{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    grid-template-areas:
    ". bord-name .  bord-score." 
    ;
}
.bord-name{
    grid-area: bord-name;
}
.bord-score{
    grid-area: bord-score;
}